In [ ]:
import numpy as np

In [ ]:
from sklearn import tree
features = [[140, 0], [130, 0], [150, 1], [170, 1]]		# 0:Smooth, 1:Bumpy
labels = [ 0, 0, 1, 1]								# 0:Apple, 1: Orange
clf = tree.DecisionTreeClassifier()
clf = clf.fit(features, labels)		#train the model
print(clf.predict([[150, 0]]))

In [ ]:
import numpy as np
arr = np.array([1, 2, 3, 4, 5, 6])
print(arr)
print(type(arr))

In [ ]:
#Dimensions of the Arrays
import numpy as np
arr = np.array([23])        #0-d array
print(arr)
print("\n")

arr1 = np.array([12, 23, 34, 45, 56])       #1-d array
print(arr1)
print("\n")

arr2 = np.array([[7, 8, 9], [4, 5, 6]])     #2-d array
print(arr2)
print("\n")

arr3 = np.array([[[1, 2, 3], [2, 3, 4]], [[3, 4, 5], [4, 5, 6]]])       #3-d array
print(arr3)
print("\n")

In [ ]:
import numpy as np      #Higher Dimentional Arrays
arr = np.array([1, 2, 3, 4], ndmin=5)

print(arr)
print("Number of Dimensions: ", arr.ndim)

In [ ]:
#Accessing the elements of the 1 D array
arr = np.array([12, 23, 34, 45, 56, 67])
print(arr)
print(arr[2])
print(arr[1]+arr[4])

In [ ]:
#Accessing 2 D array
arr = np.array([[1, 2, 3], [4, 5, 6]])
print(arr)
print(arr[0, 1])

In [ ]:
#Accessing 3 D Array
arr = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
print(arr)
print(arr[1, 1, 2])

In [ ]:
#Last element from 2nd dim
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])
print(arr)
print(arr[1, -1])

In [ ]:
#Slicing of 1 D array
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])
print(arr[1:4]) #Start:Stop
print(arr[:6])
print(arr[4:])
print(arr[-4:-1])
print(arr[1:8:2])   #Start:Stop:Step
print(arr[::2])

NUMPY

In [ ]:
#ndenumerate()

arr = np.array([1, 2, 3, 4])
for idx, x in np.ndenumerate(arr):
    print(idx, x)

In [ ]:
#2 D ndenumerate()

arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8]])

for idx, x in np.ndenumerate(arr):
    print(idx, x)

In [ ]:
#Joining Numpy 1D Arrays

arr1 = np.array((1, 2, 3, 4))
arr2 = np.array((5, 6, 7, 8))

arr = np.concatenate((arr1, arr2))
print(arr)

In [ ]:
#Joining Numpy 2 D arrays

arr1 = np.array([[1, 2, 3], [4, 5, 6]])
arr2 = np.array([[2, 3, 4], [5, 6, 7]])

print(np.concatenate((arr1, arr2)))

In [ ]:
#Splitting Numpy Arrays using array_split()

arr = np.array([10, 29, 38, 47, 56])
arr1 = np.array_split(arr, 3)

print(arr1)

In [ ]:
arr = np.array([1, 2, 3, 4, 4, 6, 7, 4])
x = np.where(arr==4)
print(x)

In [ ]:
#Sort the arrays

arr = np.array([133, 52, 10, 11])
print(np.sort(arr))

arr = np.array(['pineapple', 'banana', 'cherry', 'apple'])
print(np.sort(arr))

In [ ]:
arr = np.array([1, 2, 3, 4, 4, 5, 6, 4])
x = np.where(arr%2 == 0)
print(x)

y = np.where(arr%2!=0)
print(y)

In [ ]:
#Finding the Min and Max
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])
print(arr)
print("\nThe Minimum element in the array is: ", np.amin(arr))
print("\nThe Maximum element in the array is: ", np.amax(arr))

In [ ]:
#Finding the min and max along axis
arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]])
print(arr)
print("\n The Minimum element along the Row in the array is: ", np.amin(arr, 1))
print("\n The Maximum element along the Row in the array is: ", np.amax(arr,1))

In [ ]:
#finding peak to peak value

arr = np.array([[2, 3, 4], [22, 33, 44], [10, 20, 30]])
print(arr)
print("Peat to peak value of array along axis 0: ", np.ptp(arr, axis = 0))
print("Peak to peak value of array along axis 1: ", np.ptp(arr, axis = 1))

In [ ]:
#Understanding the np.percentile() Function
arr = np.arange(11)
perc = np.percentile(arr, 50)
print(arr,"\n")
print(perc)

In [ ]:
#finding Median

arr = np.array([[3, 7, 5], [8, 4, 3], [2, 4, 9]])
print("Array is:\n", arr)
print("Applying Median() Function: ", np.median(arr))
print("\nApplying Median() function along axis1: ", np.median(arr, axis=1))

In [ ]:
#finding mode

arr = np.array([[30, 17, 35], [18, 24, 33], [12, 24, 19]])
print("Array is:\n", arr)
print("Applying Mean() Function: ", np.mean(arr))
print("\nApplying Mean() function along axis1: ", np.mean(arr, axis=1))

In [ ]:
#np.extract()

arr = np.arange(9).reshape(3, 3)
print(arr)
#define a condition
condition = np.mod(arr, 2) == 0
print(np.extract(condition, arr))

Panda

In [ ]:
import pandas as pd

In [ ]:
my_data = [10, 20, 30, 40, 50]
pd.Series(data = my_data)

In [ ]:
d = {
    'a':10,
    'b':20,
    'c':30,
    'd':40,
}

pd.Series(d)

In [ ]:
ser1 = pd.Series([1, 2, 3, 4, 5], ["India", "China", "Tibet", "Nepal", "Russia"])
print(ser1)
ser2 = pd.Series([1, 2, 3, 4],["India", "China", "Tibet", "Nepal"])
print("\n")
print(ser2)

#Addition of two series
ser = ser1 + ser2
print("\n")
print(ser)

In [ ]:
data = {
    'Name' : ["Tom", 'Jack', 'Steve', 'Ricky'],
    'Age' : [18, 20, 16, 17]
}

df = pd.DataFrame(data, index=['rank1', 'rank2', 'rank3', 'rank4'])
print(df)

In [ ]:
#create Dataframe and Select Columns
from numpy.random import randn
np.random.seed(42)
df = pd.DataFrame(randn(5, 4), ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])
df
df['W']
df[['W', 'Z']]

In [ ]:
#Data Manipulation : Data Selection

df = pd.DataFrame(randn(5, 4), ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])
df
df.reset_index()

In [ ]:
#Data Manupulation: Filling Suitable Value

d = {'A':[1, 2, np.NaN], 'B':[1, np.NaN, np.NaN], 'C':[1, 2, 3]}
df = pd.DataFrame(d)

df.fillna(value="Fill Value")
df['A'].fillna(value=df['A'].mean())

In [ ]:
df = pd.DataFrame({'col1':[1, 2, 3, 4], 'col2':[444, 555, 666, 444]})
df['col2'].unique()
df['col2'].value_counts()

Machine Learning Models

In [ ]:
#Problem Statement: -
#Dataset: -

In [1]:
#import the necessary libraries
import pandas as pd

In [2]:
#read the dataset
data = pd.read_csv("./dataset/drive-download-20221208T050457Z-001/Dataset-diabetes.csv")
#display first five records
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
#find out the last record number
data.tail(1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
data.shape

(768, 9)

In [7]:
#check for null records
data.isnull()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [15]:
#split our data into independent and dependant variable
X = data.drop('Outcome', axis=1)
Y = data['Outcome']

In [59]:
#split the data for training and testing 20%

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3)

In [60]:
#Selection and train our model
from sklearn.tree import DecisionTreeClassifier
mymodel = DecisionTreeClassifier()
mymodel

DecisionTreeClassifier()

In [61]:
#trainging of our model
result = mymodel.fit(X_train, Y_train)

In [62]:
#test model
pred = result.predict(X_test)
pred

array([1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0])

In [63]:
Y_test

219    1
448    1
257    0
623    0
468    1
      ..
65     0
441    0
221    1
334    0
36     0
Name: Outcome, Length: 231, dtype: int64

In [64]:
#Evaluate Model performance
from sklearn.metrics import accuracy_score, classification_report

In [65]:
#print accuricy of model
print('Validation accuracy score is', accuracy_score(Y_test,pred))

Validation accuracy score is 0.7445887445887446

In [66]:
#print the classification report of model
print(classification_report(Y_test, pred))

              precision    recall  f1-score   support

           0       0.83      0.78      0.80       155
           1       0.60      0.67      0.63        76

    accuracy                           0.74       231
   macro avg       0.71      0.73      0.72       231
weighted avg       0.75      0.74      0.75       231

In [67]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test, pred)

array([[121,  34],
       [ 25,  51]])